In [1]:
lista = [1,2,3,4]  	  	#colección ordenada y mutable (podemos modificar valores)
Lista = [1, 2, 3, 4]
LISTA = ["uno", "dos", "tres", "cuatro"]
mi_lista = [True, False, True]
OtraLista = [1, "dos", True, 1, "dos"]  	  	#se pueden duplicar valores

print(type(lista),type(Lista),type(LISTA),
      type(mi_lista),type(OtraLista))

<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [2]:
tupla = (1,2,3,4)		#colección ordenada e inmutable (no podemos modificar valores)
Tupla = (1, 2, 3, 4)
TUPLA = ("uno", "dos", "tres", "cuatro")
mi_tupla = (True, False, True)
OtraTupla = (1, "dos", True, 1, "dos")  	  	#se pueden duplicar valores

print(type(tupla), type(Tupla), type(TUPLA),
      type(mi_tupla), type(OtraTupla))

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [3]:
milista = [5,6,7,8]
mitupla = (5,6,7,8)

print(list(mitupla))
print(tuple(milista))

[5, 6, 7, 8]
(5, 6, 7, 8)

In [4]:
Lfrutas = list(("plátano", "manzana", "uva"))

print(Lfrutas)
print(type(Lfrutas))

['plátano', 'manzana', 'uva']
<class 'list'>

In [5]:
Tfrutas = ("piña",)
print(type(Tfrutas))

Tfrutas = ("piña")
print(type(Tfrutas))

<class 'tuple'>
<class 'str'>

In [6]:
" & ".join(Lfrutas)

'plátano & manzana & uva'

In [7]:
Lfrutas * 4

['plátano',
 'manzana',
 'uva',
 'plátano',
 'manzana',
 'uva',
 'plátano',
 'manzana',
 'uva',
 'plátano',
 'manzana',
 'uva']

In [8]:
Lciudades = ["Madrid", "Bilbao", "Granada"]
Tciudades = ("Madrid", "Bilbao", "Granada")

print(min(Lciudades))
print(max(Tciudades))

Bilbao
Madrid

In [9]:
print(Lciudades[0])
print(Tciudades[1])

Madrid
Bilbao

In [10]:
Lciudades[0] = "Valencia"

print(Lciudades)

['Valencia', 'Bilbao', 'Granada']

In [11]:
Lciudades2 = ["Bruselas", "Londres", "Milán"]
Lciudades = Lciudades2
Lciudades2[1] = "Viena"

print(Lciudades2)
print(Lciudades)

['Bruselas', 'Viena', 'Milán']
['Bruselas', 'Viena', 'Milán']

In [12]:
Lnúmeros = ["Uno", "Dos", "Tres", "Cuatro"]
Tnúmeros = ("Uno", "Dos", "Tres", "Cuatro")

print(Lnúmeros[-1])
print(Tnúmeros[-2])

Cuatro
Tres

In [13]:
Lanimales = ["caballo", "pato", "oveja", "cabra", "cerdo", "vaca"]
Tanimales = ("caballo", "pato", "oveja", "cabra", "cerdo", "vaca")

Lanimales.index("caballo")

0

In [14]:
Tanimales.index("oveja")

2

In [15]:
print(Lanimales[1:4])
print(Tanimales[0:3])

['pato', 'oveja', 'cabra']
('caballo', 'pato', 'oveja')

In [16]:
print(Lanimales[:3])
print(Tanimales[:2])

['caballo', 'pato', 'oveja']
('caballo', 'pato')

In [17]:
print(Lanimales[2:])
print(Tanimales[3:])

['oveja', 'cabra', 'cerdo', 'vaca']
('cabra', 'cerdo', 'vaca')

In [18]:
print(Lanimales[-3:-1])
print(Tanimales[-5:-2])

['cabra', 'cerdo']
('pato', 'oveja', 'cabra')

In [19]:
print(min(Lanimales), max(Lanimales))
print(min(Tanimales), max(Tanimales))

caballo vaca
caballo vaca

In [20]:
print("cabra" in Lanimales)
print("perro" in Tanimales)

True
False

In [21]:
Lanimales[0] = "perro"

print(Lanimales)
print("perro" in Lanimales)

['perro', 'pato', 'oveja', 'cabra', 'cerdo', 'vaca']
True

In [22]:
Lanimales[1:3] = ["gallina"]

print(Lanimales)

['perro', 'gallina', 'cabra', 'cerdo', 'vaca']

In [23]:
Lanimales.insert(3, "asno")

print(Lanimales)

['perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca']

In [24]:
Tanimales = list(Tanimales)
Tanimales[0] = "perro"
Tanimales[1:3] = ["gallina"]
Tanimales.insert(3, "asno")
Tanimales = tuple(Tanimales)

print(Tanimales)
print("perro" in Tanimales)

('perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca')
True

In [25]:
Lanimales.append("gato")
print(Lanimales)

animal = ("gato",)
Tanimales += animal  	  	#igual que: Tanimales = Tanimales + animal
print(Tanimales)

['perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato']
('perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato')

In [26]:
animales = ["canario", "oveja"]
Lanimales = Lanimales + animales 
print(Lanimales)

['perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'canario', 'oveja']

In [27]:
animales2 = ["hámster", "tortuga"]
Lanimales.extend(animales2)
print(Lanimales)

animales2 = tuple(animales2)
Tanimales += animales2
print(Tanimales)

['perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'canario', 'oveja', 'hámster', 'tortuga']
('perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'hámster', 'tortuga')

In [28]:
Lanimales.extend(Tanimales)

print(Lanimales)

['perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'canario', 'oveja', 'hámster', 'tortuga', 'perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'hámster', 'tortuga']

In [29]:
Lanimales.count("perro")

2

In [30]:
Tanimales.count("perro")

1

In [31]:
print(len(Lanimales))
print(len(Tanimales))

20
9

In [32]:
print(Lanimales)

Lanimales.sort()

print(Lanimales)

['perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'canario', 'oveja', 'hámster', 'tortuga', 'perro', 'gallina', 'cabra', 'asno', 'cerdo', 'vaca', 'gato', 'hámster', 'tortuga']
['asno', 'asno', 'cabra', 'cabra', 'canario', 'cerdo', 'cerdo', 'gallina', 'gallina', 'gato', 'gato', 'hámster', 'hámster', 'oveja', 'perro', 'perro', 'tortuga', 'tortuga', 'vaca', 'vaca']

In [33]:
Lanimales.sort(reverse = True)

print(Lanimales)

['vaca', 'vaca', 'tortuga', 'tortuga', 'perro', 'perro', 'oveja', 'hámster', 'hámster', 'gato', 'gato', 'gallina', 'gallina', 'cerdo', 'cerdo', 'canario', 'cabra', 'cabra', 'asno', 'asno']

In [34]:
lista_desordenada = ["A", "c", "b", "C", "a", "B"]   #cuidado con las mayúsculas
lista_ordenada = lista_desordenada.copy()
lista_ordenada.sort()

print(lista_ordenada)

['A', 'B', 'C', 'a', 'b', 'c']

In [35]:
lista_compra = ["harina", "leche", "azúcar", "huevos", "leche", "canela", "vainilla"]
lista_compra.remove("leche")

print(lista_compra)

['harina', 'azúcar', 'huevos', 'leche', 'canela', 'vainilla']

In [36]:
lista_compra.pop()

'vainilla'

In [37]:
print(lista_compra)

['harina', 'azúcar', 'huevos', 'leche', 'canela']

In [38]:
lista_compra.pop(0)

'harina'

In [39]:
print(lista_compra)

['azúcar', 'huevos', 'leche', 'canela']

In [40]:
lista_compra.reverse()

print(lista_compra)

['canela', 'leche', 'huevos', 'azúcar']

In [41]:
lista_compra2 = lista_compra.copy()
lista_compra.clear()

print(lista_compra)
print(lista_compra2)

[]
['canela', 'leche', 'huevos', 'azúcar']

In [42]:
lista_inutil = [1,2,3]
tupla_inutil = (1,2,3)

del lista_inutil
del tupla_inutil

print(lista_inutil, tupla_inutil)  	  	#Dará error porque estas lista y tupla ya no existen

NameError: name 'lista_inutil' is not defined

In [43]:
tupla_despensa = ("brócoli", "trigo", "lenteja")
(verduras, cereales, legumbres) = tupla_despensa

print(verduras)
print(cereales)
print(legumbres)

brócoli
trigo
lenteja

In [44]:
tupla_despensa += ("garbanzo",)
(verduras, cereales, *legumbres) = tupla_despensa

print(verduras)
print(cereales)
print(legumbres)

brócoli
trigo
['lenteja', 'garbanzo']

In [45]:
Tautores = ("Shakespeare", "Cervantes", "Lope de Vega", "Dante", "Molière")
(ingleses, *españoles, italianos, franceses) = Tautores

print(ingleses)
print(españoles)
print(italianos)
print(franceses)

Shakespeare
['Cervantes', 'Lope de Vega']
Dante
Molière

In [46]:
lista_mercado = [["ternera", "pollo"], ["bacalao", "salmón"]]
lista_mercado[0].append("cordero")
lista_mercado[1].append("atún")

print(lista_mercado)

[['ternera', 'pollo', 'cordero'], ['bacalao', 'salmón', 'atún']]

In [28]:
(carnicería, pescadería) = lista_mercado

print(carnicería)
print(pescadería)

['ternera', 'pollo', 'cordero']
['bacalao', 'salmón', 'atún']